{% extends "theme_base.html" %}

{% load metron_tags %}
{% load dajaxice_templatetags %}
{% load i18n %}
{% block extra_head_base %}
	<link href="/site_media/static/prettify/prettify.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="/site_media/static/prettify/prettify.js"></script>
	<script type="text/javascript" src="/site_media/static/js/jquery-ui-1.8.18.custom.min.js"></script>
	<link rel="stylesheet" href="/site_media/static/css/smoothness/jquery-ui-1.8.18.custom.css">
	<link rel="stylesheet" href="/site_media/static/css/wiki.css">

	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
		});
		$(document).ready(function(){
			$("code").addClass("prettyprint");
			prettyPrint();
		});
	  </script>
	  <script type="text/javascript" src="/site_media/static/js/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	  {% dajaxice_js_import %}
{% endblock %}

{% block nav %}
    <ul>{% spaceless %}
		{% if user.is_authenticated %}
		{% endif %}
			<li id="tab_wiki"><a href="{% url wiki_main %}">{% trans "Notes" %}</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Subscribed Courses
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">CS 188</a></li>
					<li><a href="#">CS 170</a></li>
					<li><a href="#">EE 20N</a></li>
					<li class="divider"></li>
					<li><a href="#">Add course</a></li>
				</ul>
			</li>
    {% endspaceless %}</ul>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
