/*Entry*/
.entry{
	width:100%;
	padding:10px;
}
.entry blockquote{
	border:0px;
	margin-left:20px;
	background-color:#DDDDDD;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.entry code{
	background:none;
}
.entry textarea{
	width:98%;
	margin-bottom:5px;
}
.entry .entry_content{
	border-top:1px solid gray;
}
.entry img{
	height:250px;
	width:250px;
	position:relative;
}
.entry object,iframe{
	margin:3px;
	padding:10px;
	background-color:#DDDDDD;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
.entry .slider{
	margin:5px;
}
.tag{
	height:10px;
	font-weight:normal;
	line-height:10px;
	padding:5px;
	color:black;
}
.btn{
	color:#222 !important;
}
